%h1 Main#login

= form_with url: main_create_path, data: {turbo: false} do |f|
    =f.label :username
    =f.text_field :username
    %br
    =f.label :password
    =f.password_field :password
    %br
    =f.submit :OK